version: '3.8'

services:
  node-red-oracle:
    # Usa o Dockerfile que acabamos de criar, na pasta atual (.)
    build: .
    image: node-red-oracle:latest
    container_name: node-red-oracle
    restart: unless-stopped
    ports:
      # Mapeia a porta do Node-RED
      - "1880:1880"
    volumes:
      # Mapeamento do volume de dados para persistência do Node-RED
      - ./data:/data
    environment:
      # Define a timezone para o container (opcional)
      - TZ=America/Sao_Paulo
      # Variáveis do Node-RED
      - FLOWS=flows.json
